body{
    background-color:#000000;
    color:#ffffff;
}
.fr{
    float: right;
    margin:20px;

}
#logo{
    width: 50px;
}
#sear{
    width: 20px;
}
#sc{
    background-color: rgb(0, 94, 255);
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
#big{
    font: 3.4em sans-serif;
    display: inline;
    margin-bottom: -10px;
}
#cen1{
    display: inline;
}
#big2{
    font-size: 70px;
    color: cyan;
    margin: -10px;
    padding: -5px;
}
#img2{
    float: right;
}
#ib{
    display: inline-block;
    width: 40%;
    font-size: 20px;
}
.cb{
    clear: both;
}
.i3{
    float: left;
    margin: 25px;
}

.fl{
    float: left;
    width: 28%;
    margin-left: 30px;
}
footer{
    background-color: #202020;
    margin: -10px;
    padding: 20px;
    display: inline-block;
    width: 100%;
}
#cy{
    color: aquamarine;
}